:root {
    --primary: rgb(255, 145, 0);
    --secondary: rgb(255, 170, 58);
    --tertiary: rgb(255, 192, 110);
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    margin: 0px;
}

header {
    background-color: var(--primary);
    color: white;
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: black 2px solid;
}

i {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 40px;
}

.notelist {
    width: 30%;
    background-color: var(--secondary);
    overflow-y: auto;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
    float: left;
}

.notecontainer {
    padding: 20px;
    float: left;
}

input[type="text"]
{
    border: none;
}

.right {
    float: right;
    font-size: 20px;
    padding-top: 10px;
}

textarea:focus, input:focus, textarea, input::placeholder, textarea::placeholder{
    outline: 0;
    color: white;
    border: none;
    font-family: inherit;
}

#note-body
{
    font-size:24px;
    background-color: var(--tertiary);
    color: white;
}

#note-title
{
    font-size:48px;
    background-color: var(--tertiary);
    color: white;
}

.note {
    height: 40px;
    border-bottom: black 2px solid;
    padding: 10px;
    padding-left: 30px;
    color: white;
    background-color: var(--tertiary);
    line-height: 40px;
}

html, body {
    height: 100%;
    background-color: var(--tertiary);
}

*::-webkit-scrollbar {
    width: 12px;
  }

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-left: black 2px solid;
    border-right: black 2px solid;
  }
  
*::-webkit-scrollbar-thumb {
    background-color: white;
    border: black 2px solid;
 
  }